*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
    transition: 0.5s all;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.Calculator{
    background-color: #fff;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
transition: 0.5s all;
padding-bottom: 20px;
}

.value-container{
    margin: 30px 10px;
}
#input-value{
    width: 100%;
    text-align: right;
    border: none;
    padding: 8px;
    margin: 0 0px;
    font-size: 1.5rem;
    background-color: #fff;
    color: rgba(0, 5, 10, 0.596);
}
.buttons-container{
    border-top: 1px solid rgba(0, 0, 0, 0.068);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
   
}
.buttons-container tr td button{
  width: 62px;
  height: 60px;
  border: 0 solid rgba(0, 0, 0, 0.096);
  cursor: pointer;
  outline: 0;
  background-color: #fff;
  transition: 0.3s all;
}
.buttons-container tr td button:hover{
    background-color: rgba(0, 0, 0, 0.007);
    border-radius: 15px;
    color: #fff
}
table{
    margin: 0 auto;
}

.dark-mode{
    background-color: rgba(41, 40, 40, 0.692);
    color: white;
}